In [1]:
import sklearn as sk
import pandas as pd

### caricamento dati

In [2]:
x = pd.read_csv('../X_train.csv')
print(x)
y = pd.read_csv('../y_train.csv')
print(y)
full = pd.merge(x,y,on='id')
print(full)

            id  trq_measured       oat       mgt         pa        ias  \
0            0        54.100   2.00000  544.5000   212.1408   74.56250
1            1        49.625  24.22231  578.4844  1625.6400   30.35596
2            2        52.000   7.00000  566.1000  1912.9250   65.62500
3            3        62.400   7.25000  560.1000   277.0632   54.81250
4            4        62.900  23.25000  593.7000    53.6448   73.43750
...        ...           ...       ...       ...        ...        ...
742620  742620        79.600  10.50000  613.9000   475.7928   83.31250
742621  742621        63.100  24.00000  586.2000   288.0360   94.81250
742622  742622        82.400  10.50000  656.7000   441.0456  119.56250
742623  742623        68.500  18.75000  598.1000    73.4568  110.06250
742624  742624        64.600  16.25000  588.7000   939.6984  103.18750

               np        ng
0        89.18000   99.6400
1        99.55273   91.3866
2       100.14000   90.9600
3        90.64000  100.2800
4        99.91000   92.1700
...           ...       ...
742620   94.93000   99.8400
742621   93.14000  100.3000
742622   97.08000   99.7600
742623  100.11000   93.0900
742624  100.00000   93.3400

[742625 rows x 8 columns]
            id  faulty  trq_margin
0            0       1  -13.717745
1            1       0    1.791863
2            2       1  -13.944871
3            3       0   -0.017281
4            4       0    7.322404
...        ...     ...         ...
742620  742620       0    5.046813
742621  742621       0   14.997595
742622  742622       0   -7.298636
742623  742623       0    6.781313
742624  742624       0    5.439476

[742625 rows x 3 columns]
            id  trq_measured       oat       mgt         pa        ias  \
0            0        54.100   2.00000  544.5000   212.1408   74.56250
1            1        49.625  24.22231  578.4844  1625.6400   30.35596
2            2        52.000   7.00000  566.1000  1912.9250   65.62500
3            3        62.400   7.25000  560.1000   277.0632   54.81250
4            4        62.900  23.25000  593.7000    53.6448   73.43750
...        ...           ...       ...       ...        ...        ...
742620  742620        79.600  10.50000  613.9000   475.7928   83.31250
742621  742621        63.100  24.00000  586.2000   288.0360   94.81250
742622  742622        82.400  10.50000  656.7000   441.0456  119.56250
742623  742623        68.500  18.75000  598.1000    73.4568  110.06250
742624  742624        64.600  16.25000  588.7000   939.6984  103.18750

               np        ng  faulty  trq_margin
0        89.18000   99.6400       1  -13.717745
1        99.55273   91.3866       0    1.791863
2       100.14000   90.9600       1  -13.944871
3        90.64000  100.2800       0   -0.017281
4        99.91000   92.1700       0    7.322404
...           ...       ...     ...         ...
742620   94.93000   99.8400       0    5.046813
742621   93.14000  100.3000       0   14.997595
742622   97.08000   99.7600       0   -7.298636
742623  100.11000   93.0900       0    6.781313
742624  100.00000   93.3400       0    5.439476

[742625 rows x 10 columns]

### generazione feature

In [3]:
full['trq_target'] = (full['trq_measured']*100)/(full['trq_margin']+100)

### suddivisione dati

In [4]:
X_features = [c for c in x.columns if c != 'id']
y_features = [c for c in y.columns if c != 'id']
X_train, X_nt, y_train, y_nt = sk.model_selection.train_test_split(full[X_features], full[y_features+['trq_target']], test_size=0.4)
X_test, X_val, y_test, y_val = sk.model_selection.train_test_split(X_nt, y_nt, test_size=0.5)

### addestramento modello regressione

In [5]:
reg = sk.linear_model.LinearRegression()
reg.fit(X_train, y_train['trq_target'])
print(f'coefficienti: {reg.coef_}')
print(f'f0: {reg.intercept_}')

coefficienti: [ 1.48177419e-03 -9.39138313e-01  3.11167628e-01 -2.51500456e-03
 -1.74167251e-04  8.80601116e-02  7.00266907e-02]
f0: -119.73195237875994

### valutazione modello regressione

In [6]:
trq_target_guess = reg.predict(X_test)
guess = 100*((X_test['trq_measured']-trq_target_guess)/trq_target_guess)
error_reg = sk.metrics.mean_squared_error(guess, y_test['trq_margin'])
print(f'error: {error_reg}')

error: 0.21173982324767743