In [1]:
from pathlib import Path

# ---------- Paths (IMPORTANT) ----------

# ---------- Root Path ----------
# Repository root from /notebooks
PROJECT_ROOT = Path.cwd().parent
print("PROJECT_ROOT:", PROJECT_ROOT.exists(), "| is:", PROJECT_ROOT)
# ---------- Sub Paths ----------
# Directory for outputs
OUT_ROOT = PROJECT_ROOT / "out"
print("OUT_ROOT:", OUT_ROOT.exists(), "| is:", OUT_ROOT)
# Directory for configuration
CONFIG_ROOT = PROJECT_ROOT / "config"
print("CONFIG_ROOT:", CONFIG_ROOT.exists(), "| is:", CONFIG_ROOT)
# ---------- Yaml Paths ----------
# Paths to specific YAML configuration files
pipeline_yaml_path = CONFIG_ROOT / "pipeline" / "classification_pipeline_config.yml"
print("pipeline_yaml_path exists?", pipeline_yaml_path.exists(), "| is:",pipeline_yaml_path)
# Path to dataset configuration YAML file
dataset_yaml_path = CONFIG_ROOT / "dataset" / "dataset_config.yml"
print("dataset_yaml_path exists?", dataset_yaml_path.exists(), "| is:",dataset_yaml_path)

PROJECT_ROOT: True | is: K:\00_Code\Manutenzione\Project_MPPR-AI_B_PHM_America_2024
OUT_ROOT: True | is: K:\00_Code\Manutenzione\Project_MPPR-AI_B_PHM_America_2024\out
CONFIG_ROOT: True | is: K:\00_Code\Manutenzione\Project_MPPR-AI_B_PHM_America_2024\config
pipeline_yaml_path exists? True | is: K:\00_Code\Manutenzione\Project_MPPR-AI_B_PHM_America_2024\config\pipeline\classification_pipeline_config.yml
dataset_yaml_path exists? True | is: K:\00_Code\Manutenzione\Project_MPPR-AI_B_PHM_America_2024\config\dataset\dataset_config.yml

In [2]:
import pandas as pd
from pathlib import Path

x_path = Path(PROJECT_ROOT) / "data/raw/train/X_train.csv"  # override example
print("X_train path:", x_path)
X = pd.read_csv(x_path)
print("\nX_train columns:", list(X.columns))
print("X_train shape:", X.shape)
display(X.head(10))

X_train path: K:\00_Code\Manutenzione\Project_MPPR-AI_B_PHM_America_2024\data\raw\train\X_train.csv

X_train columns: ['id', 'trq_measured', 'oat', 'mgt', 'pa', 'ias', 'np', 'ng']
X_train shape: (742625, 8)

,id,trq_measured,oat,mgt,pa,ias,np,ng
0,0,54.10000,2.000000,544.5000,212.1408,74.562500,89.18000,99.64000
1,1,49.62500,24.222310,578.4844,1625.6400,30.355960,99.55273,91.38660
2,2,52.00000,7.000000,566.1000,1912.9250,65.625000,100.14000,90.96000
3,3,62.40000,7.250000,560.1000,277.0632,54.812500,90.64000,100.28000
4,4,62.90000,23.250000,593.7000,53.6448,73.437500,99.91000,92.17000
5,5,53.99805,16.512840,576.0781,1897.5110,47.871090,99.72461,92.32215
6,6,82.42969,24.203760,705.4063,1741.6400,28.614750,99.61915,99.45105
7,7,59.60000,11.500000,548.0000,-59.1312,76.875000,90.18000,99.95000
8,8,67.61523,4.228794,628.3125,2140.9290,9.930908,99.65430,95.02332
9,9,81.90000,2.750000,659.5000,351.1296,109.500000,96.22000,99.91000

In [3]:
y_path = Path(PROJECT_ROOT) / "data/raw/train/y_train.csv"  # override example
print("y_train path:", y_path)
y = pd.read_csv(y_path)
print("\ny_train columns:", list(y.columns))
print("y_train shape:", y.shape)
display(y.head(10))

y_train path: K:\00_Code\Manutenzione\Project_MPPR-AI_B_PHM_America_2024\data\raw\train\y_train.csv

y_train columns: ['id', 'faulty', 'trq_margin']
y_train shape: (742625, 3)

   id  faulty  trq_margin
0   0       1  -13.717745
1   1       0    1.791863
2   2       1  -13.944871
3   3       0   -0.017281
4   4       0    7.322404
5   5       0   -1.004909
6   6       0   -6.174477
7   7       0    8.181553
8   8       1  -17.399932
9   9       1  -15.639748

In [4]:
x_test_path = Path(PROJECT_ROOT) / "data/raw/test/X_test.csv"  # override example
print("x_test_path :", x_test_path)
x = pd.read_csv(x_test_path)
print("\nx_test columns:", list(x.columns))
print("x_test shape:", x.shape)
display(x.head(10))

x_test_path : K:\00_Code\Manutenzione\Project_MPPR-AI_B_PHM_America_2024\data\raw\test\X_test.csv

x_test columns: ['id', 'trq_measured', 'oat', 'mgt', 'pa', 'ias', 'np', 'ng']
x_test shape: (21436, 8)

   id  trq_measured    oat    mgt        pa       ias      np     ng
0   0          76.2  29.50  648.0  303.2760    0.0000   99.83  96.77
1   1          63.3  18.75  595.4  464.8200   96.5625  100.01  93.61
2   2          87.3   2.50  644.4  503.5296  119.4375   99.92  96.87
3   3          85.4   0.25  630.7  458.4192  121.2500  100.04  96.04
4   4          73.1  21.25  625.9  626.3640  111.4375  100.17  95.67
5   5          85.2   7.25  653.3  602.5896  120.1250  100.02  97.33
6   6          60.2  22.25  571.4  272.7960   39.6875  100.23  92.57
7   7          59.1  12.25  540.4  171.6024   67.5625  100.11  90.55
8   8          74.6  13.75  598.3  406.9080  112.0625  100.13  94.35
9   9          79.5  14.50  612.2  235.9152    0.0000   99.89  94.78

In [5]:
x_validation_path = Path(PROJECT_ROOT) / "data/raw/validation/X_validation.csv"  # override example
print("x_validation_path :", x_validation_path)
x = pd.read_csv(x_test_path)
print("\nx_validation columns:", list(x.columns))
print("x_validation shape:", x.shape)
display(x.head(10))

x_validation_path : K:\00_Code\Manutenzione\Project_MPPR-AI_B_PHM_America_2024\data\raw\validation\X_validation.csv

x_validation columns: ['id', 'trq_measured', 'oat', 'mgt', 'pa', 'ias', 'np', 'ng']
x_validation shape: (21436, 8)

   id  trq_measured    oat    mgt        pa       ias      np     ng
0   0          76.2  29.50  648.0  303.2760    0.0000   99.83  96.77
1   1          63.3  18.75  595.4  464.8200   96.5625  100.01  93.61
2   2          87.3   2.50  644.4  503.5296  119.4375   99.92  96.87
3   3          85.4   0.25  630.7  458.4192  121.2500  100.04  96.04
4   4          73.1  21.25  625.9  626.3640  111.4375  100.17  95.67
5   5          85.2   7.25  653.3  602.5896  120.1250  100.02  97.33
6   6          60.2  22.25  571.4  272.7960   39.6875  100.23  92.57
7   7          59.1  12.25  540.4  171.6024   67.5625  100.11  90.55
8   8          74.6  13.75  598.3  406.9080  112.0625  100.13  94.35
9   9          79.5  14.50  612.2  235.9152    0.0000   99.89  94.78